<div class="w-full flex flex-col justify-center items-center px-4 sm:px-8 md:px-12 lg:px-20">


  <div class="text-center text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-bold mt-8 mb-6 text-amber-400 px-3 whitespace-nowrap">
    Our Story
  </div>


  <div class="w-full max-w-6xl aspect-video">
    <iframe 
        class="w-full h-full" 
        src="https://www.youtube.com/embed/V3fPC0BHkQw" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen>
    </iframe>
  </div>

</div>